<template>
    <div class="container">
        <Header></Header>
        <FormSearch @searched="searchWeather" :loading="formSearchLoading"></FormSearch>
        <WeatherResult v-if="location !== null" :location="location" :weather="weather"></WeatherResult>
    </div>
</template>

<script>
import Header from "./partials/Header.vue";
import FormSearch from "./weather/FormSearch.vue";
import WeatherResult from "./weather/WeatherResult.vue";
import axios from "axios";
import {OpenWeatherApiKey} from "../config/config";

export default {
    name: "App",
    components: {
        Header, FormSearch, WeatherResult
    },
    data() {
        return {
            formSearchLoading: false,
            location: null,
            weather: {
                temp: null
            }
        };
    },
    methods: {
        searchWeather: function (value) {
            this.formSearchLoading = true;
            this.location = value;

            axios({
                method: 'GET',
                url: `https://api.openweathermap.org/data/2.5/weather?q=${value}&units=metric&appid=${OpenWeatherApiKey}`
            }).then(response => {
                this.weather = {
                    temp: response.data.main.temp,
                    status: response.data.weather[0].main.toLowerCase(),
                    details: [
                        {temp: response.data.main.temp_min, description: response.data.weather[0].main},
                        {temp: response.data.main.temp_max, description: response.data.sys.country},
                    ]
                };
                this.formSearchLoading = false;
            });
        }
    }
}
</script>