<template>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group text-center">
                <label>Enter Location:</label>
                <input type="text" class="form-control" v-model="location" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" :disabled="loading" @click="onSearchClicked">Search</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FormSearch",
    props: ['loading'],
    data() {
        return {
            location: ''
        };
    },
    methods: {
        onSearchClicked: function () {
            this.$emit('searched', this.location)
        }
    }
}
</script>