<template>
    <div class="row mt-5 border p-5">
        <div class="col-md-10 offset-md-1">
            <WeatherIcon :weatherStatus="weather.status"></WeatherIcon>
            <h2 class="text-center mt-4">{{weather.temp}}&#8451;</h2>
            <h3 class="text-center"><i class="fas fa-map-marker-alt"></i> {{location}}</h3>
        </div>

        <div class="col-md-10 offset-md-1 mt-4">
            <WeatherDetail :details="weather.details"></WeatherDetail>
        </div>
    </div>
</template>

<script>
import WeatherIcon from "./WeatherIcon.vue";
import WeatherDetail from "./WeatherDetail";

export default {
    name: "WeatherResult",
    props: ['location', 'weather'],
    components: {
        WeatherDetail,
        WeatherIcon
    }
}
</script>