<template>
    <ul class="list-group">
        <li class="list-group-item border-0" v-for="detail in details">
            <span><i class="fas fa-thermometer-quarter"></i> {{detail.temp}}&#8451;</span>
            <span class="float-right">{{detail.description}}</span>
        </li>
    </ul>
</template>

<script>
export default {
    name: "WeatherDetail",
    props: ['details']
}
</script>

<style scoped>

</style>