<template>
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/images/icon-clear.png" v-if="weatherStatus === 'clear'" />
            <img src="assets/images/icon-cloudy.png" v-if="weatherStatus === 'clouds'" />
            <img src="assets/images/icon-rain.png" v-if="weatherStatus === 'rain'" />
            <img src="assets/images/icon-snow.png" v-if="weatherStatus === 'snow'" />
            <img src="assets/images/icon-storms.png" v-if="weatherStatus === 'storms'" />
        </div>
    </div>
</template>

<script>
export default {
    name: "WeatherIcon",
    props: ['weatherStatus'],
}
</script>
